.test {
    width: 175px;
    height: 75px;
    border-radius: 20px;
    position: relative;
    animation: ili 5s infinite;
    }
    @keyframes ili {
    0% {left: 0px;}
    25% {left: 400px; background: rgb(255, 0, 221);}
    75% {left: 200px;}
    100% {left: 0px; background: rgb(9, 0, 128);}
    }
